header, body, form {
	display:block;
}
/* styles for the header */

header {
    width: 1700px;
    height: 200px;
    background-color: #BE9D80 ;
}
.container1 {
    width: 1300px;
    height: 115px;
    background-color: #43382e;
}
#logo {
    float: left;
    padding-left: 30px;
    padding-top: 25px;
}
#title {
    width: auto;
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 10px;
}
#logoutbutton {
    float: right;
    padding-top: 25px;
    padding-right: 140px;
    padding-bottom: 20px;
}
/* the styles for the div tags that divide the page into sections */
body {
   margin: 4em auto;
    width: auto;
    height: auto;
	background-color: #A99583;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
    margin: auto;
    width: 1300px;
    height: auto;
    border: 3px solid black;
    box-shadow: 4px 4px 6px 0 black;
	background-color: #7a695a;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*Navigation Container*/
.container2 {
    width: 1300px;
    height: auto;
}
#table1 {
    align-content: center;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
}
.navButtons {
    text-align: center;
    height: auto;
    width: 1200px;
    padding-top: 10px;
}
/*Search Controls*/
#combo {
    margin: auto;
    text-align: center;
    height: auto;
    width: 250px;
    padding-top: 10px;
    
}
#combo2 {
    margin: auto;
    text-align: center;
    height: auto;
    width: 250px;
    padding-top: 10px;
    
}
#table2 {
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
    
}
.nameLabel {
    align-content: center;
    text-align: right;
    width: 290px;
    height: auto;
}
.nameTextBox {
    width: auto;
    height: auto;
}
.FnDD {
    width: auto;
    height: auto;
}
.nameLabel2 {
    width: auto;
    text-align: right;
    height: auto;
}
/***********************************************************Start Customers and Employees Screen*****************************/
/*Details View For Customers Page*/
#table4 {
    width: 65%;
    margin-left: 75px;
    margin-right: 25px;
    margin-top: 15px;
}
#table5 {
    align-content: center;
    text-align: left;
}
#table3 {
    width: 65%;
    margin-left: 75px;
    margin-right: 25px;
}
#table6 {
    align-content: center;
    text-align: left;
}
/*Gridview for Customers*/
#table7 {
    width: 95%;
    margin-left: 25px;
    margin-right: 25px;
}
#table8 {
    align-content: center;
    text-align: left;
   
}

/************************************************************End Customers and Employees Screen*******************************/
.container {
 
   width: 1300px;
    height: 115px;
    background-color: #43382e;
}
table {
    align-content: center;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.formview {
    margin-left: 400px;
    text-align: right;
}
.leftColumn {
    text-align: right;
}
.rightColumn {
    text-align: left;
}
#EntNameLabel {
    text-align: center;
}
/************************************************************Table Formatting for Vendors Screens*******************************/
/*Details views includes tables 5 and 6 from Customers*/
#table9 {
    width: 65%;
    margin-left: 225px;
    margin-right: 25px;
}
#table10 {
    width: 65%;
    margin-left: 225px;
    margin-right: 25px;
    margin-top: 15px;
}
/*Gridview includes table 8 from Customers*/
#table11 {
    width: 95%;
    margin-left: 35px;
    margin-right: 25px;
}
/*End Table Formatting for Vendors Screens*/
/************************************************************Tabel Formatiing for Order Screen************************************/
#DetailsView1 {
    margin: auto;
}
#DetailsView2 {
    margin: auto;
}
#table12 {
    
    width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
#table13 {
    text-align: center;
}
#tableErrorMessage{
    width: 30%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
} 
#tableErrorMessage2 {
    text-align: center;
}
#ImageButton2 {
 padding-top: 10px;
}
/*Gridview for Orders*/
#table14 {
    clear:right;
    width: 50%;
    margin: auto;
    
}
#table15 {
    align-content: center;
    text-align: left;
   
}