header, body, form {
	display:block;
}
/* styles for the header */

header {
    width: 1700px;
    height: 200px;
    background-color: #BE9D80 ;
}
#logo {
    float: left;
    padding-left: 30px;
    padding-top: 25px;
}
#title {
    width: auto;
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 10px;
}
#logoutbutton {
    float: right;
    padding-top: 25px;
    padding-right: 140px;
    padding-bottom: 20px;
}
/* the styles for the div tags that divide the page into sections */

body {
   margin: 4em auto;
    width: auto;
    height: auto;
	background-color: #A99583;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
    margin: auto;
    width: 1300px;
    height: auto;
    border: 3px solid black;
    box-shadow: 4px 4px 6px 0 black;
	background-color: #7a695a;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.container1 {
    width: 1300px;
    height: 115px;
    background-color: #43382e;
}
.container2 {
    width: 1300px;
    height: auto;
}
.container {
    width: 1300px;
    height: 115px;
    background-color: #43382e;

}
.navButtons {
    text-align: center;
    height: auto;
    width: 1200px;
    padding-top: 10px;
}
.nameLabel {
    align-content: center;
    text-align: right;
    width: 290px;
    height: auto;
}
.nameTextBox {
    width: auto;
    height: auto;
        }
.FnDD {
    width: auto;
    height: auto;
}
.nameLabel2 {
    width: auto;
    text-align: right;
    height: auto;
}
.formview {
    margin-left: 400px;
    text-align: right;
}
.leftColumn {
    text-align: right;
}
.rightColumn {
    text-align: left;
}
table {
    align-content: center;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-right: 10px;
    padding-left: 10px;
}
#table1 {
    align-content: center;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
}
#table2 {
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
    
}
#EntNameLabel {
    text-align: center;
}
#table4 {
    width: 65%;
    margin-left: 75px;
    margin-right: 25px;
    margin-top: 15px;
}
#table5 {
    align-content: center;
    text-align: left;
   
}
#table3 {
    width: 65%;
    margin-left: 75px;
    margin-right: 25px;
}
#table6 {
    align-content: center;
    text-align: left;
   
}
#table7 {
    width: 95%;
    margin-left: 25px;
    margin-right: 25px;
}
#table8 {
    align-content: center;
    text-align: left;
   
}
#table9 {
    width: 65%;
    margin-left: 225px;
    margin-right: 25px;
}
#table10 {
    width: 65%;
    margin-left: 225px;
    margin-right: 25px;
    margin-top: 15px;
}
#table11 {
    width: 95%;
    margin-left: 35px;
    margin-right: 25px;
}
#table12 {
    width: 65%;
    margin-left: 225px;
    margin-right: 25px;
}
#table13 {
    align-content: center;
    text-align: left;
    background-color: #A99583;
}
#table5, td {
    width: 800px;
    align-self: center;
}
#WorkLabel {
    width: auto;
    height: 50px;
    align-content: center;
    text-align: center;
}
#WorkLabel2 {
    width: auto;
    height: 50px;
    align-content: center;
    text-align: center;
}
#DigitLabel {
    text-align: center;
}
